
<div class='container'>
  <div class='chess-container'>
      <div class='numbers'></div>
      <div class="letters"></div>
  </div>
  <div class="board"></div>
  <div class='input-container'>
    <div>
      <h1>QUEEN ATTACK</h1>
    </div>
    <div class='input'>
      <label>Input White Queen Position </label><br>
      <div>
        <p>Row : </p>
       <input type='number' [(ngModel)]='whiteRow' min='1' max='8' (change)='checkIfWhiteRowValid(whiteRow)'>
      </div>
      <div>
        <p>Column (ex: a=1,b=2,c=3...) : </p>
        <input type='number' [(ngModel)]='whiteCol' min='1' max='8' (change)='checkIfValid(whiteCol)'>
      </div>
    </div>
    <div  class='input'>
      <label>Input Black Queen Position</label>
      <div>
        <p>Row : </p>
       <input type='number' [(ngModel)]='blackRow' min='1' max='8' (change)='checkIfValid(blackRow)'>
      </div>
      <div>
        <p>Column  (ex: a=1,b=2,c=3...)  : </p>
        <input type='number' [(ngModel)]='blackCol' min='1' max='8' (change)='checkIfValid(blackCol)'>
      </div>

      <div class='input'>
        <button (click)='checkQueenAttack()'>Can Queen Attack?</button>
      </div>

      <div>
        <br>
        <strong class='result'>{{result}}</strong>
      </div>
    </div>
   
  </div>
</div>
<router-outlet></router-outlet>